@tailwind base;
@tailwind components;
@tailwind utilities;


.br-2.animado {
    opacity: 0;
}

.br-1.animado {
    transform: rotate(45deg) translate(6px, 6px);
    transform-origin: 0% 100%;
}

.br-3.animado {
    transform: rotate(-45deg) translate(-3px, 6px);
    transform-origin: 0% 100%;
}

@media (min-width: 1024px) {
    #quien-soy {   
        height: calc(100vh - 130px);
    }
}

.carousel__contenedor {
    position: relative;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 30px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
}

.carousel__anterior {
    left: -30px;
}

.carousel__siguiente {
    right: -30px;
}

.carousel__lista {
    overflow: hidden;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 5px;
    background: #0c4a6e;
    opacity: 0.2;
    border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
    opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
    opacity: 1;
} 
