@tailwind base;
@tailwind components;
@tailwind utilities;


.br-2.animado {
    opacity: 0;
}

.br-1.animado {
    transform: rotate(45deg) translate(6px, 6px);
    transform-origin: 0% 100%;
}

.br-3.animado {
    transform: rotate(-45deg) translate(-3px, 6px);
    transform-origin: 0% 100%;
}

@media (min-width: 1024px) {
    #quien-soy {   
        height: calc(100vh - 130px);
    }
}